<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="CarRentalManagementSystem-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/carRentalManagementSystem</jta-data-source>
    <class>entity.Customer</class>
    <class>entity.Employee</class>
    <class>entity.RentalRate</class>
    <class>entity.Outlet</class>
    <class>entity.Category</class>
    <class>entity.Model</class>
    <class>entity.Car</class>
    <class>entity.HighPeak</class>
    <class>entity.MerlionCustomer</class>
    <class>entity.PartnerEmployee</class>
    <class>entity.Promotion</class>
    <class>entity.Reservation</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
